* { box-sizing: border-box; }
body {
  font-family: 'Noto Sans JP',sans-serif;
  background-color: whitesmoke;
  font-size: 1.05rem;
  margin-bottom: 20px;
}
nav {
  display: flex;
  max-width: 800px;
  background-color: #52bad5;
  margin: 20px auto 0;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  justify-content: space-between;
}
nav .right, .left {
  display: flex;
}
nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: #00000014;
  padding: 8px 10px;
  border-radius: 5px;
  color: inherit;
  transition: all 0.15s;
}
nav a:hover {
  background-color: #00000024;
}
nav a + a {
  margin-left: 10px;
}
nav a img {
  vertical-align: text-bottom;
  opacity: 0.75;
  margin-right: 3px;
  height: 20px;
}
nav a.title {
  background-color: transparent;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.hero {
  max-width: 800px;
  margin: 30px auto 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hero img.logo {
  max-height: 260px;
  margin-top: 20px;
}
.hero h1 {
  font-size: 2.3rem;
  margin-bottom: 0;
}
div.info-link-wrap {
  display: flex;
  margin: 30px auto 0;
  justify-content: flex-start;
}
a.info-link {
  display: flex;
  background-color: #eaeaea;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: inherit;
  transition: all 0.2s;
  align-items: center;
  /* box-shadow: rgba(0,0,0,0.16) 0px 1px 4px; */
}
a.info-link + a.info-link {
  margin-left: 15px;
}
a.info-link:hover {
  background-color: #d4d4d4;
}
a.info-link .img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-radius: 5px;
}
a.info-link img {
  height: 20px;
}
a.info-link span {
  margin-left: 5px;
}

section {
  max-width: 780px;
  margin: 40px auto 0;
}
section + section {
  margin-top: 60px;
}

.join-link-wrap {
  display: flex;
  margin: 20px auto;
}
.join-link {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: inherit;
  transition: all 0.2s;
  align-items: center;
  box-shadow: rgba(0,0,0,0.16) 0px 1px 4px;
  width: 100%;
  max-width: 160px;
  transition: all 0.2s;
}
.join-link:hover {
  transform: translateY(-5px);
  box-shadow: rgba(50,50,93,0.25) 0px 2px 5px -1px, rgba(0,0,0,0.3) 0px 1px 3px -1px;
}
.join-link .img-wrap {
  width: 100%;
  display: flex;
  padding: 5px;
  border-radius: 5px;
  justify-content: center;
  height: 70px;
  align-items: center;
  background-color: #eaeaea;
}
.join-link img {
  height: 52px;
}
.join-link .img-wrap.facebook {
  background-color: #4267B2;
}
.join-link .img-wrap.nextdoor {
  background-color: #93D500;
}
.join-link .img-wrap.nextdoor img {
  height: 20px;
  margin-left: 3px;
}
.join-link .img-wrap.google-form img {
  height: 30px;
  margin-left: 3px;
  opacity: 0.8;
}
.join-link span {
  margin-top: 10px;
}
.join-link + .join-link {
  margin-left: 20px;
}

.question {
  margin-top: 30px;
  font-weight: 600;
}
.answer {
  margin-top: 10px;
  line-height: 2rem;
}

.cta {
  display: flex;
  max-width: 400px;
  margin: 50px auto 0;
  background-color: #ffd589;
  padding: 20px 30px 25px 0;
  border-radius: 5px;
  align-items: center;
}
.cta h2 {
  margin: 0;
}
.cta .desc {
  margin-top: 5px;
}
.cta img {
  height: 60px;
  margin-left: 20px;
  opacity: 0.4;
  flex-shrink: 0;
}
.cta .right {
  margin-left: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
  opacity: 0.4;
  font-size: 1rem;
}

@media (max-width: 750px) {
  .hero {
    flex-direction: column;
    margin-top: 10px;
  }
  .hero h1 {
    text-align: center;
  }
}
