* { box-sizing: border-box; }
body {
  font-family: 'Noto Sans JP',sans-serif;
  background-color: whitesmoke;
  font-size: 1.05rem;
}
nav {
  display: flex;
  max-width: 800px;
  background-color: #52bad5;
  margin: 20px auto 0;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  justify-content: space-between;
}
nav a {
  text-decoration: none;
  background-color: #00000014;
  padding: 8px 10px;
  border-radius: 5px;
  color: inherit;
  transition: all 0.15s;
}
nav a:hover {
  background-color: #00000024;
}
nav a + a {
  margin-left: 10px;
}
nav a img {
  vertical-align: text-bottom;
  opacity: 0.75;
  margin-right: 3px;
  height: 20px;
}
nav a.title {
  background-color: transparent;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.hero {
  max-width: 800px;
  margin: 30px auto 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hero img.logo {
  max-height: 260px;
  margin-top: 20px;
}
.hero h1 {
  font-size: 2.3rem;
  margin-bottom: 0;
}
div.link-wrap {
  display: flex;
  margin: 30px auto 0;
  justify-content: flex-start;
}
a.big-link {
  display: flex;
  background-color: #eaeaea;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: inherit;
  transition: all 0.2s;
  align-items: center;
  /* box-shadow: rgba(0,0,0,0.16) 0px 1px 4px; */
}
a.big-link + a.big-link {
  margin-left: 15px;
}
a.big-link:hover {
  background-color: #d4d4d4;
}
a.big-link .img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-radius: 5px;
}
a.big-link img {
  height: 20px;
}
a.big-link span {
  margin-left: 5px;
}
